
<form action="/tasks/add" method="POST">
       <h1>CREATE TASKS</h1>
        <div class="form-control">
            <label for="title">TITLE:</label>
             <input type="text" name="title" placeholder="o que vc deseja fazer?">
        </div>
        <div class="form-control">
            <label for="description">DESCRIPTION:</label>
            <textarea name="description" placeholder="descreva a tarefa..."></textarea>
        </div>
        <input type="submit" value="CRIAR">
</form>    
